body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
    font-size: 17px;

    &__title {
        font-size: 25px;
    }

}

.container__cards__title {
    margin-left: 20px;
}

.input {
    padding: 7px;
    border-radius: 5px;
    width: 150px;
    border: solid black 2px;
}



.button {

    margin-top: 20px;
    border-radius: 5px;
    padding: 5px;
    background-color: #755DD9;
    color: #ffffff;
    width: 100px;
    font-weight: bold;
    border: 2px #ffffff solid;
    margin-left: 30px;

    &--reset {

        width: 80px;
        display: block;
        margin: 0 auto;
    }

    &--delete {
        border-radius: 50%;
        width: 30px;
        height: 30px;
        margin-bottom: 20px;

    }

    &--add {
        width: 80px;
        margin-left: 0px;
    }
}

.card-a {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 70%;
    justify-content: space-around;
    margin: 20px;
    text-transform: capitalize;
    list-style: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 220px;
}

.card {

    display: flex;
    flex-wrap: wrap;
    flex-basis: 70%;
    justify-content: space-around;
    padding: 0;

    &__title {
        margin: 0;
    }

    &__show {
        text-transform: capitalize;
        list-style: none;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 270px;

        &__title {
            transform: scale(1);
            transition: ease 2s;
        }

    }


}

.container__cards {

    display: flex;
    justify-content: space-around;

}

.container__cards__search {
    width: 60%;
}

.container__list {

    list-style: none;
}

.card__show__fav {

    background-color: #8B5D76;
    color: #fff;
    padding: 0 20px;
    border-radius: 5px;
    height: 220px;
}

.card__show__img {
    border-radius: 5px;
    border: 2px solid #fff;
    width: 90px;

    &--fav {
        width: 50px;
    }
}

.card__show__div {

    display: flex;
    align-items: center;
}