body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  background-color: #8EC5FC;
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 50px;
  font-size: 17px;
}

.container__title {
  font-size: 25px;
}

.container__cards__title {
  margin-left: 40px;
}

.input {
  padding: 7px;
  border-radius: 5px;
  width: 150px;
  border: solid black 2px;
}

.button {
  margin-top: 20px;
  border-radius: 5px;
  padding: 5px;
  background-color: #755DD9;
  color: #ffffff;
  width: 100px;
  font-weight: bold;
  border: 2px #ffffff solid;
  margin-left: 30px;
}

.button--reset {
  width: 80px;
  display: block;
  margin: 0 auto;
}

.button--delete {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-bottom: 20px;
}

.button--add {
  width: 80px;
  margin-left: 0px;
}

.card-a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 20px;
  text-transform: capitalize;
  list-style: none;
  text-align: center;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 220px;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0;
}

.card__title {
  margin: 0;
}

.card__show {
  text-transform: capitalize;
  list-style: none;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 270px;
}

.card__show__title {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: ease 2s;
  transition: ease 2s;
}

.container__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container__cards__search {
  width: 60%;
}

.container__list {
  list-style: none;
}

.card__show__fav {
  background-color: #8B5D76;
  color: #fff;
  padding: 0 20px;
  border-radius: 5px;
  height: 220px;
}

.card__show__img {
  border-radius: 5px;
  border: 2px solid #fff;
  width: 90px;
}

.card__show__img--fav {
  width: 50px;
}

.card__show__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=main.css.map */