body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);

}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 17px;

}

.container__cards__title {
    margin-left: 40px;
}

.input {
    padding: 7px;
    border-radius: 5px;
    border: solid black 2px;
}

.button__reset {
    background-color: #755DD9;
    border: solid 2px #fff;
    color: #fff;
    width: 80px;
    border-radius: 5px;
    margin-left: 40px;

}

.button {

    margin-top: 20px;
    border-radius: 5px;
    padding: 5px;
    background-color: #755DD9;
    color: #ffffff;
    width: 100px;
    font-weight: bold;
    border: 2px #ffffff solid;
}



.card {

    display: flex;
    flex-wrap: wrap;
    flex-basis: 70%;
    justify-content: space-around;

}

.container__cards {

    display: flex;
    justify-content: space-between;

}

.card__show {

    margin: 20px;
    text-transform: capitalize;
    list-style: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;


}

.card__show__fav {

    background-color: #ACA8C6;
    color: #fff;
}

.card__show__img {
    border-radius: 5px;
    border: 2px solid #fff;
    width: 90px;

}

.js-button {
    margin-top: 20px;
    border-radius: 5px;
    padding: 5px;
    background-color: #755DD9;
    border: solid 2px #fff;
    color: #fff;
    width: 80px;
    font-weight: bold;

}