body {
    margin: 0;
    padding: 0;

}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

.input {
    padding: 7px;
    border-radius: 5px;
    border: solid black 2px;
}

.button {

    margin-top: 20px;
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(47, 209, 133);
    color: rgb(0, 0, 0);
    width: 100px;
}


.card__show {

    display: flex;
    flex-wrap: wrap;

}


.card__show__title {

    margin: 20px;
}