body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 17px;
}

.input {
    padding: 7px;
    border-radius: 5px;
    border: solid black 2px;
}

.button {

    margin-top: 20px;
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(47, 209, 133);
    color: rgb(0, 0, 0);
    width: 100px;
    font-weight: bold;
}

.list {
    list-style: none;
    text-align: center;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {

    display: flex;
    flex-wrap: wrap;
    flex-basis: 70%;
    justify-content: space-around;

}

.container__cards {

    display: flex;
    justify-content: space-between;

}

.card__show {

    margin: 20px;
    list-style: none;
    text-align: center;
    text-transform: capitalize;



}



.card__show__img {
    border-radius: 5px;
    border: 2px solid black;
    width: 90px;

}

.js-button {
    margin-top: 20px;
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(47, 209, 133);
    color: rgb(0, 0, 0);
    width: 80px;
    font-weight: bold;

}